#header {
    color: white;
    background-color: #0275d8;
}

#fiveDayCards {
    margin: auto;
}

.hidden {
    visibility: hidden;
}

#blueSpace {
    background-color: #0275d8;
    color: white;
}

.currentCityImage {
    display: inline-block;
}

.card.col {
    background-color: #0275d8;
    color: white;
}

.cardImage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

